<div class="row">
  <div class="col-md-12">
   <h1> Candidate List </h1>
   <table class="table table-bordered">
     <thead>
       <tr>
         <th>#</th>
         <th>Name</th>
         <th>Email</th>
         <th>Employed</th>
         <th>Availabile Date</th>
         <th>State</th>
         <th>View Profile</th>
       </tr>
     </thead>
      <tbody>
        <tr ng-repeat='candidate in candidates'>
          <th scope="row">{{ candidate.jobId }}</th>
          <td>{{ candidate.name }}</td>
          <td>{{ candidate.email }}</td>
          <td>{{ candidate.isEmployed?'Yes':'No' }}</td>
          <td>{{ candidate.availability | date }}</td>
          <td>{{ candidate.state }}</td>
          <td class="text-center"><a class="btn btn-info" href="#/profile/{{candidate.jobId}}">View Profile</a></td>
        </tr>
      </tbody>
    </table>
  </div> <!-- END COL -->
</div> <!-- END ROW -->
