<div class="row">
  <div class="col-md-12">
   <h1> Candidate Profile </h1>
    <form name='profileForm' novalidate role="form" class="well" ng-submit="updateProfile(candidate)" >
       <div class="form-group">
         <label for="name">Name:</label>
         <input type="text" class="form-control" id="name" ng-model="candidate.name" required>
       </div>
       <div class="form-group">
         <label>Currently Employed:</label>
         <div class="radio">
            <label><input type="radio" name="optradio" ng-checked="candidate.isEmployed" required>Yes</label>
         </div>
         <div class="radio">
           <label><input type="radio" name="optradio" ng-checked="!candidate.isEmployed">No</label>
         </div>
       </div>
       <div class="form-group">
         <label for="job">Job ID:</label>
         <input type="number" class="form-control" id="job" ng-model="candidate.jobId" disabled>
       </div>
       <div class="form-group">
         <label for="available">Available After:</label>
         <input type="date" class="form-control" id="available" ng-model="candidate.availability" required>
       </div>
       <div class="form-group">
         <label for="email">Email address:</label>
         <input type="email" class="form-control" id="email" ng-model="candidate.email" required>
       </div>
       <div class="form-group">
         <label for="street">Street:</label>
         <input type="text" class="form-control" id="street" ng-model="candidate.street">
       </div>
       <div class="form-group">
         <label for="state">State:</label>
          <select class="form-control" id="state" required ng-model="candidate.state">
            <option>VIC</option>
            <option>QLD</option>
            <option>TAS</option>
            <option>WA</option>
            <option>NSW</option>
          </select>
       </div>
       <div class="form-group">
         <label for="desired-salary">Desired Salary:</label>
         <input type="text" class="form-control" id="desired-salary" ng-model="candidate.desiredSalary">
       </div>
       <div class="form-group">
         <label for="current-salary">Current Salary:</label>
         <input type="text" class="form-control" id="current-salary" ng-model="candidate.currentSalary">
       </div>
       <button type="submit" ng-disabled="profileForm.$invalid" class="btn btn-success">Submit</button>
     </form>
  </div> <!-- END COL -->
</div> <!-- END ROW -->
